@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCoreMVCLocalizationByURL.Internationalization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}


<ul></ul>
@foreach (DayOfWeek item in Enum.GetValues(typeof(DayOfWeek)))
{
    <li>@item.ToLocalizedString()</li>
}
